<div class="container">
  <h1>Your Bets results</h1>
  <% @bets.each do |bet| %>
  <!-- MODAL DELETE -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete this bet for life !!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this bet from your stats ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= button_to bet_path(bet.id), method: :delete, class:"btn btn-danger" do %>
              Delete
            <% end %>
          </div>
        </div>
      </div>
    </div>
<!-- MODAL DELET FINISH -->

    <div class="card-div d-flex">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= JSON.parse(bet.league)["name"] %></li>
          <li class="list-group-item"><%= JSON.parse(bet.match)["homeTeam"]["team_name"] %> VS <%= JSON.parse(bet.match)["awayTeam"]["team_name"] %></li>
          <li class="list-group-item">Odd : <%= bet.odd %></li>
          <li class="list-group-item">Bet amount : <%= bet.bet_amount %> €</li>
          <li class="list-group-item">State : <%= bet.state %></li>
          <li class="list-group-item d-flex button-space">
            <%= button_to lose_path(bet.id), method: :put, class:"btn btn-danger" do %>
              <i class="fas fa-times"></i>
            <% end %>
            <%= button_to win_path(bet.id), method: :patch, class:"btn btn-success" do %>
              <i class="fas fa-check"></i>
            <% end %>
          </li>
          <li class="list-group-item d-flex button-space">
            <div class="trash-div">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                Delete
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
