<div class="container">
  <h1>Pending Bets</h1>
  <% @bets.each do |bet| %>
  <!-- MODAL DELETE -->
    <div id="modal-<%= bet.id %>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Delete this bet ?</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this bet from your stats ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= button_to bet_path(bet.id), method: :delete, class:"btn btn-danger" do %>
              Delete
            <% end %>
          </div>
        </div>
      </div>
    </div>
<!-- MODAL DELET FINISH -->
    <div class="card-div d-flex">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">

          <% if bet.combine %>
            <li class="list-group-item match-li">
              <h3>Combined Bet</h3>
            </li>
          <% else %>
            <li class="list-group-item img-li">
              <p>
                <%= JSON.parse(bet.league)["name"] %>
              </p>
              <div>
                <img src="<%=
                  response = Unirest.get "http://api.football-data.org/v2/areas/#{JSON.parse(bet.league)["area"]["id"]}",
                    headers:{
                      "X-Auth-Token" => ENV['FOOT_KEY']
                    }
                  response.body['ensignUrl']
                %>" alt="" class="image-card">
              </div>
            </li>

            <li class="list-group-item match-li">
              <p>
                <img class="logo-team" src="<%=
                  response = Unirest.get "http://api.football-data.org/v2/teams/#{JSON.parse(bet.match)['homeTeam']['id']}",
                    headers:{
                      "X-Auth-Token" => ENV['FOOT_KEY']
                    }
                  response.body['crestUrl']
                %>">
                VS
                <img class="logo-team" src="<%=
                  response = Unirest.get "http://api.football-data.org/v2/teams/#{JSON.parse(bet.match)['awayTeam']['id']}",
                    headers:{
                      "X-Auth-Token" => ENV['FOOT_KEY']
                    }
                  response.body['crestUrl']
                %>">
              </p>
            </li>
          <% end %>

          <li class="list-group-item match-li">
            <p>
              <%= bet.name %>
            </p>
          </li>

          <li class="list-group-item bet-li">
            <div>
              <p>Odd</p>
              <p><%= bet.odd %></p>
            </div>
            <div>
              <p>Bet</p>
              <p><%= bet.bet_amount %> €</p>
            </div>
            <div>
              <p>Earnings</p>
              <p><%= (bet.odd * bet.bet_amount).round(2) %> €</p>
            </div>
          </li>
          <li class="list-group-item match-li"><span class="badge badge-warning"><%= bet.state %></span></li>
          <li class="list-group-item d-flex button-space">
            <%= button_to lose_path(bet.id), class:"btn btn-danger" do %>
              <i class="fas fa-times"></i>
            <% end %>

            <%= button_to win_path(bet.id), class:"btn btn-success" do %>
              <i class="fas fa-check"></i>
            <% end %>
          </li>
          <li class="list-group-item d-flex button-space">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-<%= bet.id %>">
                  Delete
              </button>
          </li>
        </ul>
      </div>
    </div>

  <% end %>
</div>
