<div class="container">
  <h1>My Stats</h1>

  <h2>All bets</h2>
  <p><%= @bets.count %></p>

  <h2>Pending bets</h2>
  <p><%= @pending_bets.count %></p>

  <h2>Amount pending bets</h2>
  <p><%= @pending_bets_amount %> €</p>

  <h2>Finished bets</h2>
  <p><%= @finished_bets.count %></p>

  <h2>Total bets</h2>
  <p><%= @total_bets.round(2) %> €</p>

  <h2>Net profit / lose</h2>
  <p><%= @profit.round(2) %> €</p>

  <h2>Wining bets</h2>
  <p><%= @wining_bets.count %></p>

  <h2>Percentage win</h2>
  <p><%= @percentage_win %> %</p>

  <h2>Net amount wining bets</h2>
  <p><%= @win_bets_amount %> €</p>

  <h2>Losing bets</h2>
  <p><%= @losing_bets.count %></p>

  <h2>Amount losing bets</h2>
  <p><%= @lose_bets_amount %> €</p>

  <h2>Percentage lose</h2>
  <p><%= @percentage_lose %> %</p>

  <h2>Medium odd</h2>
  <p><%= @medium_odd.round(2) %></p>

  <h2>Medium odd win</h2>
  <p><%= @medium_odd_win.round(2) %></p>

  <h2>Medium odd lose</h2>
  <p><%= @medium_odd_lose.round(2) %></p>

  <h2>Medium bet amount</h2>
  <p><%= @medium_amount.round(2) %> €</p>

  <h2>Medium wining bet amount</h2>
  <p><%= @medium_win_amount.round(2) %> €</p>

  <h2>Medium losing bet amount</h2>
  <p><%= @medium_lose_amount.round(2) %> €</p>

</div>
