<div class="container">
  <div class="logo-league">
    <img src="<%= @matchs.first["league"]["logo"] %>" style="width: 100px;" alt="">
    <img src="<%= @matchs.first["league"]["flag"] %>" style="width: 100px;" alt="">
  </div>
  <ul>
    <% @matchs.each do |bet| %>
      <%= link_to fixture_path(bet["fixture_id"]), class:"trash" do %>
        <li>
          <%= bet["homeTeam"]["team_name"] %> vs <%= bet["awayTeam"]["team_name"] %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
