<div class="container">

  <div class="home-section">
    <div class="img-home">
      <%= image_tag "football-icone.png", class: "img-home-content" %>
    </div>
    <div class="txt-home">
      <p>Enter your bets, and find your history in your profile with all the informations !</p>
    </div>
  </div>

  <div class="home-section">
    <div class="img-home">
      <%= image_tag "diagram_home.png", class: "img-home-content" %>
    </div>
    <div class="txt-home">
      <p>Find all the statistics of your bets consolidated and grouped on a single page !</p>
    </div>
  </div>

  <div class="home-section">
    <div class="img-home">
      <%= image_tag "money.png", class: "img-home-content" %>
    </div>
    <div class="txt-home">
      <p>Analyze these statistics and adapt your bets to maximize your winnings !</p>
    </div>
  </div>

    <% if user_signed_in? %>
      <div class="button-home">
        <%= link_to "My stats", stats_path, class: "btn btn-primary mr-5" %>
        <%= link_to "Add a bet", new_bet_path, class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="button-home">
          <%= link_to "Start", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>

  <p>You are on a Progressive Web App : You can use this app like a store app. For that follow the instructions :</p>

  <div class="div-pwa">
    <%= image_tag "base_modified.jpg", class:"img-pwa" %>
    <i class="fas fa-arrow-right" style="font-size: 50px;"></i>
    <%= image_tag "ajout_modified.jpg", class:"img-pwa" %>
  </div>

  <p>If you don't have this proposal you can go in your browser settings :</p>

  <div class="div-pwa">
    <%= image_tag "settings_modified.jpg", class:"img-pwa" %>
  </div>

</div>
