<div class="container">
  <h1>My Stats</h1>

  <h2>General stats</h2>

  <div class="section general-stats">

    <% if @finished_bets.length != 0 %>
      <div id="line_chart_div" class="graph"></div>
    <% else %>
      <div class="graph">
        <%= image_tag "diagram.png", class: "img-graph" %>
        <p class="little-line">Add bets to have garphics of your statistics</p>
      </div>
    <% end %>

    <div class="stat">
      <h3>All bets</h3>
      <p><%= @bets.count %></p>
    </div>

    <div class="stat">
      <h3>Total bets</h3>
      <p><%= @total_bets.round(2) %> €</p>
    </div>

    <div class="stat">
      <h3>Pending bets</h3>
      <p><%= @pending_bets.count %></p>
    </div>

    <div class="stat">
      <h3>Amount pending bets</h3>
      <p><%= @pending_bets_amount %> €</p>
    </div>

    <div class="stat">
      <h3>Finished bets</h3>
      <p><%= @finished_bets.count %></p>
    </div>

    <% if @profit >= 0 %>
      <div class="stat positive">
    <% else %>
      <div class="stat negative">
    <% end %>
      <h3>Net profit</h3>
      <p><%= @profit.round(2) %> €</p>
    </div>

    <% if @roi >= 0 %>
      <div class="stat positive">
    <% else %>
      <div class="stat negative">
    <% end %>
        <h3>Return on investment</h3>
        <p><%= @roi.round(2) %> %</p>
      </div>
  </div>

  <h2>Result bet stats</h2>

  <div class="section result-bet">

    <% if @finished_bets.length != 0 %>
      <div id="piechart_3d" class="graph"></div>
    <% else %>
      <div class="graph">
        <%= image_tag "diagram.png", class: "img-graph" %>
        <p class="little-line">Add bets to have garphics of your statistics</p>
      </div>
    <% end %>

    <div class="stat">
      <h3>Wining bets</h3>
      <p><%= @wining_bets.count %></p>
    </div>

    <div class="stat">
      <h3>Percentage win</h3>
      <p><%= @percentage_win %> %</p>
    </div>

    <div class="stat">
      <h3>Losing bets</h3>
      <p><%= @losing_bets.count %></p>
    </div>

    <div class="stat">
      <h3>Percentage lose</h3>
      <p><%= @percentage_lose %> %</p>
    </div>

    <div class="stat">
      <h3>Amount losing</h3>
      <p><%= @lose_bets_amount %> €</p>
    </div>

    <div class="stat">
      <h3>Net amount wining</h3>
      <p><%= @win_bets_amount %> €</p>
    </div>

  </div>

  <h2>Odd bet stats</h2>

  <div class="section odd-stats">

    <% if @finished_bets.length != 0 %>
      <div id="chart_div" class="graph"></div>
    <% else %>
      <div class="graph">
        <%= image_tag "diagram.png", class: "img-graph" %>
        <p class="little-line">Add bets to have garphics of your statistics</p>
      </div>
    <% end %>

    <div class="stat">
      <h3>Medium odd</h3>
      <p><%= @medium_odd.round(2) %></p>
    </div>

    <div class="stat">
      <h3>Medium odd win</h3>
      <p><%= @medium_odd_win.round(2) %></p>
    </div>

    <div class="stat">
      <h3>Medium odd lose</h3>
      <p><%= @medium_odd_lose.round(2) %></p>
    </div>

  </div>

  <h2>Amount bet stats</h2>

  <div class="section amount-stats">

    <% if @finished_bets.length != 0 %>
      <div id="columnchart_values" class="graph"></div>
    <% else %>
      <div class="graph">
        <%= image_tag "diagram.png", class: "img-graph" %>
        <p class="little-line">Add bets to have garphics of your statistics</p>
      </div>
    <% end %>

    <div class="stat">
      <h3>Medium bet amount</h3>
      <p><%= @medium_amount.round(2) %> €</p>
    </div>

    <div class="stat">
      <h3>Medium wining bet amount</h3>
      <p><%= @medium_win_amount.round(2) %> €</p>
    </div>

    <div class="stat">
      <h3>Medium losing bet amount</h3>
      <p><%= @medium_lose_amount.round(2) %> €</p>
    </div>

  </div>

  <h2>Type of bets</h2>

  <div class="section amount-stats">

    <% if @finished_bets.length != 0 %>
      <% @types.each do |key, value| %>
        <div class="stat">
          <h3><%= key == "" ? "Combined bet" : key %></h3>
          <p><%= value %></p>
        </div>
        <% if @types_win.has_key?(key) %>
          <div class="stat">
            <h3>Percentage win</h3>
            <p><%= (@types_win[key] * 100) / value %> %</p>
          </div>
        <% else %>
          <div class="stat">
            <h3>Percentage win</h3>
            <p>0 %</p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="graph">
        <%= image_tag "diagram.png", class: "img-graph" %>
        <p class="little-line">Add bets to have garphics of your statistics</p>
      </div>
    <% end %>

  </div>

</div>

<!-- graphics -->
<script>
  const result_bet_graph = [['result', 'percentage'], ["Win", <%= @percentage_win %>], ["lose", <%= @percentage_lose %>]];

  let odd_graph = [
    ['amount', 'odd', 'win/lose'],
    <% @bets.each do |bet| %>
      <% if bet.state == "win" %>
        [<%= bet.odd %>, null, <%= bet.bet_amount %>],
      <% elsif bet.state == "lose" %>
        [<%= bet.odd %>, <%= bet.bet_amount %>, null],
      <% end %>
    <% end %>
  ];

  <%= @profit_graph = 0 %>
  <%= @count = 0 %>

  let line_graph = [
    <% @finished_bets.each do |bet| %>
      <% if bet.state == "win" %>
        <% @profit_graph += (bet.bet_amount * bet.odd) - bet.bet_amount %>
      <% else %>
        <% @profit_graph -= bet.bet_amount %>
      <% end%>
      <% @count += 1 %>

      [<%= @count %>, <%= @profit_graph %>],

    <% end %>
  ];

  let column_graph = [
    ["result", "amount", { role: "style" } ],
    ["Win", <%= @medium_win_amount.round(2) %>, "#109618"],
    ["Lose", <%= @medium_lose_amount.round(2) %>, "#DC3912"],
  ]


</script>

<%= javascript_pack_tag 'graphs' %>

