<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    <title>My Bet Stats</title>

    <meta name="description" content="Add your sports bets in the application. The calculation of your statistics, their consolidation and their grouping is automatic, you can consult them simply on a page. Thanks to these statistics you can improve your results in sports betting.">
    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- <script src="https://kit.fontawesome.com/54024468ec.js" crossorigin="anonymous"></script> -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Prompt:400,600,700&display=swap" rel="stylesheet">

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <!-- Added by gem service-worker -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>

  <body>
    <div class="div-flashes"><%= render 'shared/flashes' %></div>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <div id="new-bet">
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
